{% extends 'head.html' %}


{% block content %}
    <div class="container">

        <img src="/static/images/93888757.png" alt="Profile Image" class="profile-image mx-auto" />

        <header class="mb-12 text-center">
            <h1 class="text-4xl font-bold text-white">Welcome to Q's Site</h1>
            <p class="text-lg text-subtle">Cyber Security Researcher & Application/Web Developer</p>
            <a class="text-blue-600 visited:text-gray-600" href="/">Go back</a>
        </header>


        <div class="card">
            <h2 class="text-3xl font-bold text-highlight text-center mb-6">Contact Me</h2>
            <form action="/contact" id="contact" enctype="multipart/form-data" method="POST">
                <div class="mb-4">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" autocomplete="name" required class="block flex-1 border-0 bg-gray-800 py-1.5 pl-1 text-gray-300 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Ronnie Cray">
                </div>
                <div class="mb-4">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" autocomplete="email" required class="block flex-1 border-0 bg-gray-800 py-1.5 pl-1 text-gray-300 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="RonnieCray@craymail.com">
                </div>
                
                <div class="mb-4">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" required class="block flex-1 border-0 bg-gray-800 py-1.5 pl-1 text-gray-300 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Website Idea">
                </div>
                <div class="mb-4">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="4" required class="block flex-1 border-0 bg-gray-800 py-1.5 pl-1 text-gray-300 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Can we make a website to sell rolling pins?"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-gray-300 font-bold py-2 px-4 rounded">Send Message</button>
                </div>
            </form>
        </div>

    <div id="notification" class="fixed bottom-0 left-0 mb-4 ml-4 bg-green-500 text-white py-2 px-4 rounded-lg shadow-lg hidden">
        Contact request submitted!
    </div>

</div>


<script>
    window.addEventListener("DOMContentLoaded", (event) => {
        document.getElementById("contact").addEventListener("submit", function(event) {
        event.preventDefault(); 
        
        const notification = document.getElementById("notification");
        notification.classList.remove("hidden");

        setTimeout(() => {
            notification.classList.add("hidden");
        }, 3000); 

        setTimeout(() => {
            this.submit(); 
        }, 500); 
    });
});
</script>

{% endblock %}