    {% extends 'head.html' %}


    {% block content %}
    
    <div class="container">

        <img src="{{ url_for('static', filename='images/93888757.png')}}" alt="Profile Image" class="profile-image mx-auto" />

        <header class="mb-12 text-center">
            <h1 class="text-4xl font-bold text-white">Welcome to Q's Site</h1>
            <p class="text-lg text-subtle">Cyber Security Researcher & Application/Web Developer</p>
        </header>

        <div class="two-column">

            <section class="card">
                <h2 class="text-2xl font-semibold mb-4 text-highlight">About Me</h2>
                <p>
                    I am a cyber security researcher and application/web developer with expertise in multiple programming languages.
                </p>
            </section>

            <section class="card">
                <h2 class="text-2xl font-semibold mb-4 text-highlight">Skills</h2>
                <div class="flex flex-wrap">
                    <span class="badge">Python</span>
                    <span class="badge">JavaScript</span>
                    <span class="badge">C#</span>
                    <span class="badge">C++</span>
                    <span class="badge">GOLANG</span>
                    <span class="badge">VB.NET</span>
                    <span class="badge">PHP</span>
                    <span class="badge">HTML/CSS</span>
                    <span class="badge">BASH</span>
                    <span class="badge">LUA</span>
                </div>
            </section>

            <section class="card">
                <h2 class="text-2xl font-semibold mb-4 text-highlight">Services</h2>
                <ul class="list-disc list-inside" style="list-style-type: disclosure-closed;">
                    <li><a class="text-blue-600 visited:text-gray-600" target="_blank" href="https://qhire.hijack.network/Quinny-J">qHire</a> - Hire Me !</li>
                    <li><a class="text-blue-600 visited:text-gray-600" target="_blank" href="https://qlicense.hijack.network">qLicense</a> - License System</li>
                    <li><a class="text-blue-600 visited:text-gray-600" target="_blank" href="https://qstat.hijack.network">qStat</a> - Network DSTAT</li>
                    <li><a class="text-blue-600 visited:text-gray-600" target="_blank" href="https://htasker.hijack.network">hTasker</a> - Run & Schedule Scripts</li>
                    <li><a class="text-blue-600 visited:text-gray-600" target="_blank" href="https://qapi.hijack.network">qAPI's</a> - Cyber Security APIS</li>
                </ul>
            </section>

        </div>

        


        <div class="container mt-12">
            <h2 class="text-3xl font-bold text-highlight mb-8 text-center">Portfolio</h2>
        
            <div class="two-column space-y-8">
                <!-- Card 1 -->
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Quinny-J/pVulnScanner/main/2nd.png" alt="Project 1 Image" 
                         class="object-contain w-full h-48 rounded-lg mb-4">
                    <h3 class="text-2xl font-semibold text-highlight mb-2">pVulnScanner</h3>
                    <p class="mb-4">
                        A web-based vulnerability scanner that can scan for XSS and SQL vulns.
                    </p>
                    <div class="flex flex-wrap">
                        <span class="badge">Python</span>
                        <span class="badge">JavaScript</span>
                    </div>
                    <div>
                        <a href="http://pvuln.hijack.network" target="_blank" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Visit
                        </a>
                        <a href="https://github.com/Quinny-J/pVulnScanner" target="_blank" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Repo
                        </a>
                    </div>
                </div>
        
                <!-- Card 2 -->
                <div class="card">
                    <img src="/static/images/htasker.png" alt="Picture for hTasker" 
                         class="object-contain w-full h-48 rounded-lg mb-4">
                    <h3 class="text-2xl font-semibold text-highlight mb-2">hTasker-V2</h3>
                    <p class="mb-4">
                        A web-based application built with Flask to upload, run, and schedule Python, Node, or Golang scripts in a virtual environment.
                    </p>
                    <div class="flex flex-wrap">
                        <span class="badge">Python</span>
                    </div>
                    <div>
                        <a href="http://htasker.hijack.network" target="_blank" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Visit
                        </a>
                        <a href="https://github.com/Quinny-J/hTasker-V2" target="_blank" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Repo
                        </a>
                    </div>
                </div>
        
                <!-- Card 3 -->
                <div class="card">
                    <img src="/static/images/incog.png" alt="Picture for IncogVPN" 
                         class="object-contain w-full h-48 rounded-lg mb-4">
                    <h3 class="text-2xl font-semibold text-highlight mb-2">IncognitoVPN (Custom VPN Client & Server)</h3>
                    <p class="mb-4">
                        Custom OpenVPN protocol with no logs and port forwarding with a nice desktop GUI.
                    </p>
                    <div class="flex flex-wrap">
                        <span class="badge">C#</span>
                        <span class="badge">Python</span>
                    </div>
                    <div>
                        <a href="https://github.com/Quinny-J/" target="_blank" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Repo
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        

        <div class="relative bg-gradient-to-r from-purple-600 via-pink-500 to-red-500 text-white py-12 text-center rounded-lg shadow-lg overflow-hidden my-12 parallax-banner">
            <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
                <svg class="absolute parallax-shape -left-20 -top-10 h-60 w-60 text-purple-400 opacity-50 transform transition-transform duration-500" viewBox="0 0 1024 1024" fill="currentColor">
                    <circle cx="512" cy="512" r="200"/>
                </svg>
                <svg class="absolute parallax-shape -bottom-10 -right-20 h-60 w-60 text-pink-300 opacity-50 transform transition-transform duration-500" viewBox="0 0 1024 1024" fill="currentColor">
                    <rect x="200" y="200" width="200" height="200" />
                </svg>
            </div>
            <h2 class="text-3xl font-bold mb-4">Interested in putting ideas into real working projects?</h2>
            <a href="/contact" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded transition-colors duration-300">
                Contact Me
            </a>
        </div>
        
        


    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const shapes = document.querySelectorAll('.parallax-shape');
            const parallaxBanner = document.querySelector('.parallax-banner');
            let mouseX = 0, mouseY = 0;
            let currentX = 0, currentY = 0;
    
            parallaxBanner.addEventListener('pointermove', function(e) {
                const { clientX, clientY } = e;
                const { clientWidth, clientHeight } = parallaxBanner;
    
                mouseX = (clientX / clientWidth - 0.5) * 85;
                mouseY = (clientY / clientHeight - 0.5) * 85;
            });
    
            function animateShapes() {
                currentX += (mouseX - currentX) * 0.1;
                currentY += (mouseY - currentY) * 0.1;
    
                shapes.forEach(shape => {
                    shape.style.transform = `translate(${currentX}px, ${currentY}px)`;
                });
    
                requestAnimationFrame(animateShapes);
            }
    
            animateShapes();
    
            parallaxBanner.addEventListener('pointerleave', function() {
                mouseX = 0;
                mouseY = 0;
            });
        });
    </script>

{% endblock %}